body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  display: none;
}

.show {
  display: unset;
}

.app {
  display: flex;
}

.sidenav {
  display: flex;
  height: 100vh;
}

.sidenav ul{
  list-style: none;
  margin-right: 1rem;
  padding: 0;
}

.sidenav li {
  padding: 8px 12px;
  transition: .1s ease-in-out;
  background-color: #292737;
  border-bottom: 2px solid black;
}

.sidenav li:hover {
  background-color:rgba(31,29,36, 1) ;
}

.sidenav a {
  color: white;
  text-decoration: none;
}