form.builder{
    *{
        color: black;
    }
    .btnContainer {
        display: flex;
        gap: .5rem;
        justify-content: flex-end;
    }
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    .stepper{
        margin: 30px 0;
        position: relative;
        display: flex;
        justify-self: center;
        flex-direction: row;
        max-width: 500px;
        width: calc(100% - 1.5rem);
        height: 10px;
        background-color: $breaker;
        .stepCount{
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            text-align: center;
            top: -50%;
            background-color: $breaker;
            color: black;
        }
        .stepActive{
            background-color: $primary;
            transition: background-color .4s ease-in-out;
        }
        .stepBar{
            width: 0%;
            transition: width .2s ease-in-out;
            height: 10px;
            background-color: $primary;
        }
    }
}

.builderParent {
    position: relative;
    background: white;
    border: 1px solid black;
    padding: 64px 48px;
    margin: 1rem;
    border-radius: 25px;
    .builder {
        width: 100%;
        max-width: 1200px;
        .HideInput {
            display: none;
        }
    }
}

.ItemList {
    max-width: 200px;
    width: 30%;
    .item {
        display: "flex";
        flex-direction:"column";
        align-items:"flex-start";
        padding: .33rem 1rem;
    }
}