@import '_bootstrap';

form {
    width:50rem;
    max-width: 100%;
}

.hide {
    display: none;
}

.toggle {
    display: flex;
}

.form-group{
    .inputParent{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        .square {
            border-radius: .375rem 0 0 .375rem;
        }
        .formUnit{
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            background-color: white;
            border: 3px solid #ced4da;
            border-left: 0;
            border-radius: 0 0.375rem 0.375rem 0;
            span{
                color: black;
            }
        }
    }
}

input[type=radio] {
    margin-right: 4px;
}

.alert {
    ul{
        margin: 0;
        color: var(--bs-alert-color);
        li {
            color: unset;
        }
    }
}
  
.formShow {
    position: relative;
    border-radius: 5px;
    background: $darker;
    border: $border;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 1.5rem;
    margin: .25rem 0.3125rem 0.625rem 0;
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.55);
}

form {
    .btn-warning{
        background-color: $add;
    }
}

.center-form {
    width: 100%;
}