@import '_bootstrap';

header{
    position: fixed;
    z-index: 7;
    width: 100%;
    .mainNav {
        background-color: rgba(0,0,0,0);
        transition: .2s;
        &.headerBg {
            background-color: rgba(0,0,0,0.8);
        }
    }
}

.crudNav{
    position: relative;
    background-color: $darker;
    .mainNav{
        position: relative;
        ul {
            margin: 8px 10px;
        }
    }
}

.mainNav {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 16px;
        margin: 8px 32px;
        padding: 0;
        div{
            display: flex;
            flex-direction: row;
            gap: 32px;
            a {
                font-size: 1.25rem;
                text-transform: uppercase;
                text-decoration: none;
                color: $white;
                text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
            }
            li{
                &.logo{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    text-decoration: none;
                    a{
                        color: $pink;
                    }
                }
                
            }
        }
    }
}