@import '_bootstrap';

.pagination {
    width: 100%;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            button{
                border: none;
                color: $text;
                margin: 5px;
                background: none;
                padding: 5px;
                width: 40px;
                height: 40px;
                &:disabled {
                    filter: brightness(.3);
                }
            }
            &.active {
                button{
                    color: $pink;
                }
            }
        }
    }
    .perPage {
        font-size:1rem;
    }
}

.reset-noise {
    ul li button {
        color: $white;
    }
}